# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.txt
dukeLogger.log
text-ui-test/library/dictionary.txt
text-ui-test/library/locations.txt
text-ui-test/library/taskList.txt
library/dictionary.txt
library/locations.txt
library/notes.txt
library/taskList.txt
